.input {
  padding: calc(var(--space-4) - 1px);
  border: 1px solid var(--stroke-color);
  border-radius: var(--buttons-small-radius);
  font-size: var(--text-m__font-size);
  font-weight: var(--text-m__font-weight);
  line-height: var(--text-m__line-height); /* 137.5% */
  color: var(--text-primary-color);
  outline: none;
  display: block;
  width: 100%;
  &:hover {
    border-color: var(--accent1-hover-color);
  }
  &:focus-visible {
    border-color: var(--text-primary-color);
  }
  &:focus {
    border-color: var(--stroke-color);
  }
  &::placeholder {
    color: var(--disabled-text-color);
  }
}
